body{
    margin: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

#testImg{
    min-width: 100px;
    max-width: 600px;
    height: auto;
    margin: 0;
}

#toggleButton{
    background-color: black;
    border: 2px white solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border: 2px white solid;
    box-shadow: 0px 0px 20px 0px #ffffff ;
    border-radius: 25px;
    /* positioning */
    position: fixed;
    top: 25px;
    left: 25px;
}

#backgroundCover{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}

#popupbox{
    background-color: black;
    color: white;
    width: 600px;
    max-width: auto;
    height: fit-content;
    padding: 20px 20px 30px 20px;
    border: 2px white solid;
    box-shadow: 0px 0px 20px 0px #ffffff ;
    /* Fade */
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    /* Centering */
    position: fixed;
    top: 100px;
    /* display: block; */
    /* Corners */
    border-radius: 2px;
    

}

#popupbox > h1{
    margin: 0;
}
#popupbox > hr {
    margin: 10px 0px 10px 0px;
}
#popupbox > h5{
    margin: 5px;
    font-style: italic;
    font-weight: 500;
}

#popupbox > button{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#popupbox > button:hover{
    opacity: 0.5;
    transition: all ease 0.1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
